## UN Data Exploration

In [42]:
# import packages 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
gdp_df = pd.read_csv('../data/gdp_per_capita.csv/UNdata_Export_20241004_025527195.csv') # read in data file

In [34]:
gdp_df.head(10) # observe the top 10 rows

  Country or Area  Year        Value
0     Afghanistan  2021  1673.964059
1     Afghanistan  2020  2078.595086
2     Afghanistan  2019  2168.133765
3     Afghanistan  2018  2110.239384
4     Afghanistan  2017  2096.093111
5     Afghanistan  2016  2023.834656
6     Afghanistan  2015  2128.125938
7     Afghanistan  2014  2110.829568
8     Afghanistan  2013  2062.059176
9     Afghanistan  2012  1958.447627

In [32]:
gdp_df.head(10) #observe the bottom 10 rows

  Country or Area  Year        Value
0     Afghanistan  2021  1673.964059
1     Afghanistan  2020  2078.595086
2     Afghanistan  2019  2168.133765
3     Afghanistan  2018  2110.239384
4     Afghanistan  2017  2096.093111
5     Afghanistan  2016  2023.834656
6     Afghanistan  2015  2128.125938
7     Afghanistan  2014  2110.829568
8     Afghanistan  2013  2062.059176
9     Afghanistan  2012  1958.447627

In [26]:
gdp_df = gdp_df.drop('Value Footnotes', axis=1) # drop the last column with the built-in pandas drop function

In [38]:
gdp_df.rename(columns={'Country or Area': 'Country', 'Year': 'Year', 'Value': 'GDP_per_Capita'}) # rename column labels with rename function.

          Country  Year  GDP_per_Capita
0     Afghanistan  2021     1673.964059
1     Afghanistan  2020     2078.595086
2     Afghanistan  2019     2168.133765
3     Afghanistan  2018     2110.239384
4     Afghanistan  2017     2096.093111
...           ...   ...             ...
7723     Zimbabwe  1994     1958.125362
7724     Zimbabwe  1993     1765.451299
7725     Zimbabwe  1992     1731.232787
7726     Zimbabwe  1991     1907.652489
7727     Zimbabwe  1990     1794.153646

[7728 rows x 3 columns]